.album
{
    background-color: #1c1c1c;
    color: white;
    padding: 40px 20px;
}

.album .contenitore
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.carta
{
    width: calc(100% / 6 - 20px);
}

.carta img
{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
}

.carta h4
{
    padding: 15px 0 20px;
}
