.sites
{
    padding: 5px;
    background-color: #0282f9;
}
.sites ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sites li
{
    color: white;
    margin-left: 60px;
    font-size: 0.7rem;
    font-weight: bold;
}